/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif;
*/

/* * {
  border: none;
  margin: 0;
  padding: 0;
} */

html {
  border: none;
}

body {
  background-color: #2B2733;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  margin-top: 0;
  margin-left: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #46424D;
  text-transform: uppercase;
}

h1 {
  font-weight:300;
  font-size: 22px;
  letter-spacing: 1.5px;
}

h2 {
  color: #CBC9CF;
  font-weight: 300;
}

p {
  font-size: 20px;
}

.whole-page {
  display:flex;
}

main {
  display:flex;
  width: 60%;
  margin: 2%;
  flex-direction: column;
}

.new-activity {
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

.create-new-activity {
  background-color: #46424D;
  border-radius: 4px;
  padding: 40px 90px;
  height: 580px;
  position: relative;
}

.card-shadow {
  box-shadow: 10px 10px 5px -4px rgba(38,34,45,0.95);
}

.what-to-accomplish {
  padding-top: 5%;
  padding-bottom: 2%;
}

.category-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  width: 22px;
  padding-top: 3%;
}

/* .study-img,
.meditate-img,
.exercise-img {
  visibility: hidden;
} */


.labels {
  margin: 6px;
}

button {
  color: #FFF;
}

.study,
.meditate,
.exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 157px;
  background-color: #46424D;
  border: solid 2px #CBC9CF;
  border-radius: 5px;
  height: 67px;
  padding: 2px;
}

.study.active,
.exercise.active {
  /* background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 8%;
  background-origin: content-box; */
  outline: 0;
}

.study.active {
  border:2px solid #B3FD78;
  color: #B3FD78;
}

.meditate.active {
  border:2px solid #C278FD;
  color: #C278FD;
  /* background-image: url(assets/meditate-active.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 8%;
  background-origin: content-box; */
  outline: 0;
}

.exercise.active {
  border:2px solid #FD8078;
  color: #FD8078;
  outline: 0;
  /* background-image: url(assets/exercise-active.svg); */
}

.hidden {
  visibility: hidden;
}

input {
  background-color: #46424D;
  border: none;
  border-bottom: 1px solid #CBC9CF;
  color: #FFF;
}

.input-time {
  width: 288px;
}

.accomplish-input {
  width: 100%;
}

.time-name {
  padding-top: 14%;
  padding-bottom: 3%;
}

.time-input {
  bottom: 212px;
  position: absolute;
}

.minutes {
  left: 90px;
}

.seconds {
  right: 90px;
}

.start-act-btn {
  text-transform: uppercase;
    color: #2B2733;
    position: absolute;
    bottom: 100px;
    right: 93px;
    background-color: #FFF;
    border-radius: 4px;
    height: 38px;
    font-size: 19px;
    width: 25%;
}

aside {
  display: flex;
  width: 40%;
  border-left: 3px solid #46424D;
  flex-direction: column;
  height: 770px;
}

.past-activities {
  padding: 25px;
}

/*Class for paragraph that appears if no activities have been logged.*/
.no-activities {
  text-align: center;
  color: #CBC9CF;
  padding: 5px;
  font-weight: 300;
  margin: 0;
}
