/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif;
*/

html {
  border: none;
}

body {
  background-color: #2B2733;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
}

header {
  background-color: #46424D;
  color: #FFF;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

h1 {
  font-size: 22px;
  font-weight:300;
  letter-spacing: 1.5px;
}

h2 {
  color: #CBC9CF;
  font-weight: 300;
}

p {
  font-size: 20px;
}

.whole-page {
  display:flex;
}

main {
  display:flex;
  flex-direction: column;
  margin: 2%;
  width: 60%;
}

.new-activity {
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.create-new-activity {
  background-color: #46424D;
  border-radius: 4px;
  height: 580px;
  padding: 40px 90px;
  position: relative;
}

.card-shadow {
  box-shadow: 10px 10px 5px -4px rgba(38,34,45,0.95);
}

.what-to-accomplish {
  padding-bottom: 2%;
  padding-top: 5%;
}

.category-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  padding-top: 3%;
  width: 22px;
}

.labels {
  margin: 6px;
}

.study,
.meditate,
.exercise {
  align-items: center;
  background-color: #46424D;
  border-radius: 5px;
  border: solid 2px #CBC9CF;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 67px;
  padding: 2px;
  width: 157px;
}

.study.active {
  border: solid 2px #B3FD78;
  color: #B3FD78;
  outline: 0;
}

.meditate.active {
  border: solid 2px #C278FD;
  color: #C278FD;
  outline: 0;
}

.exercise.active {
  border: solid 2px #FD8078;
  color: #FD8078;
  outline: 0;
}

input {
  background-color: #46424D;
  border: none;
  border-bottom: 1px solid #CBC9CF;
  color: #FFF;
}

.input-time {
  width: 288px;
}

.accomplish-input {
  width: 100%;
}

.time-name {
  padding-bottom: 3%;
  padding-top: 14%;
}

.time-input {
  bottom: 212px;
  position: absolute;
}

.minutes {
  left: 90px;
}

.seconds {
  right: 90px;
}

.warning-pop-up {
  display: inline-flex;
  flex-direction: row;
}

.warning-img {
  padding: 5px;
}

.warning {
  color: #EFB7EC;
  font-size: 94%;
  margin: 13px 10px;
}

.start-act-btn {
  background-color: #FFF;
  border-radius: 4px;
  bottom: 100px;
  color: #2B2733;
  font-size: 19px;
  height: 38px;
  position: absolute;
  right: 93px;
  text-transform: uppercase;
  width: 25%;
}

aside {
  display: flex;
  border-left: 3px solid #46424D;
  flex-direction: column;
  height: 770px;
  width: 40%;
}

.past-activities {
  padding: 25px;
}

.no-activities {
  color: #CBC9CF;
  font-weight: 300;
  margin: 0;
  padding: 5px;
  text-align: center;
}
